* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}

.page1 {
    height: 100%;
    width: 100%;
    /* background-color: #fbecec; */
}

.navbar {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 5vw;
}

.heading {
    overflow-y: hidden;
}

.heading h1 {
    font-size: 3rem;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.navbar-right p {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

.navbar-right p::before,
.navbar-right p::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.navbar-right p::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #889381;
    border-right: 3px solid #50544e;
    transform: translate(-100%, 50%);
}

.navbar-right p:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #889381;
    border-left: 3px solid #50544e;
    transform: translate(100%, -50%)
}

.navbar-right p:hover:before,
.navbar-right p:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.navbar-right p:hover {
    color: #c48f8f;
}


.hero-section {
    /* background-color: red; */
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
    background-color: black;
    color: antiquewhite;
    position: relative;
}

.hero-section h1 {
    font-size: 7rem;
}

.box img{
    position: absolute;
    height: 18vh;
}

.box img:nth-child(1){
    top: 5%;
    left: 17%;
    animation: animate 10s linear infinite;
}

.box img:nth-child(2){
    top: 37%;
    left: 10%;
    animation: animate 7s linear infinite;
}

.box img:nth-child(3){
    top: 37%;
    left: 77%;
    animation: animate 11s linear infinite;
}

.box img:nth-child(4){
    top: 7%;
    left: 84%;
    animation: animate 8s linear infinite;
}

.box img:nth-child(5){
    top: 75%;
    left: 7%;
    animation: animate 5s linear infinite;
}

.box img:nth-child(6){
    top: 72%;
    left: 90%;
    animation: animate 9s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

.page2{
    width: 100%;
    height: 100%;
    background-color: rgb(219, 205, 205);
    padding: 8vh 5vw;
    text-align: center;
}

.page2 h1{
    font-size: 3rem;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #b59b9b;
    letter-spacing: 0.3vw;
}

.wrapper{
    display: flex;
    padding: 10vh 0;
    gap: 2vw;
    overflow-x: hidden;
}

.image-container{
    display: flex;
    gap: 2vw;
}

.wrapper img{
    height: 50vh;
    width: 25vw;
    border-radius: 25px;
}

.image-container{
    text-align: left;
}

.image-container div h3{
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: 5px 0px;
}

.first{
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: grey;
    margin-bottom: 5px;
}

.second{
    font-weight: 800;
    letter-spacing: 1px;
}

.page3{
    height: 100%;
    width: 100%;
    background-color: red;
}

.page4{
    width: 100%;
    height: 100%;
    padding: 5vh 5vw;
}

.page4 h2{
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.card-container{
    margin: 5vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    text-align: center;
}

.image{
    width: 28vw;
    height: 70vh;
    margin-bottom: 2vh;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.card-container h4{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.page5{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10vh;
}

.quote-div{
    border: 1px solid red;
    width: 100%;
    margin-left: auto;
}

.quote-div p{
    border: 1px solid black;
    width: 50%;
}